/* border radius */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px
}

/* product image on card */

.product-img {
    min-height: 100px;
}

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: rgb(77, 7, 7);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #68a9c0, #52bba2);
    background-size: 100% 100%;
}

.jumbotron h2 {
    margin-top: -20px;
    font-weight: bold;
}

.jumbotron p {
    font-weight: bold;
}

#root > div > div:nth-child(1) > ul {
    font-weight: bold;
    border-color: black;
    border-width: 3px;
    
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}